<home>
  <router >

    <!-- These links will trigger automatically HTML5 history events -->
    <nav class=" navbar-dark bg-dark">
     
       <ul class="nav justify-content-center ">
      <li class="nav-item active">
        <a class="navbar-brand " href="/#hello">Accueil</a>
      </li>
      <li class="nav-item">
        <a class="navbar-brand" href="/#table">Choix de pays</a>
      </li>
    </ul>
    </nav>
  <h3>{ props.title }</h3>
  {state.pays}
  <Table></Table>

  </router>
  <script>
    import axios from 'axios';
    import {getCountries} from '../data/localstorage.js';
    import Table from './table.riot';

    export default {
      components:{
        Table,
        router: route.Router
      },
      async onMounted(){
          this.state = {
          pays: await getCountries(),
        }
      }
    }
  </script>
</home>