<home>
 <router >

    <!-- These links will trigger automatically HTML5 history events -->
    <nav class=" navbar-dark bg-dark">
       <ul class="nav justify-content-center ">
      <li class="nav-item active">
        <a class="navbar-brand " href="/#hello">Accueil</a>
      </li>
      <li class="nav-item">
        <a class="navbar-brand" href="/#table">Choix de pays</a>
      </li>
    </ul>
    </nav>
    <!-- Your application routes will be rendered here -->

    <message></message>
    <stats></stats>
     <pays></pays>
    <tables></tables>
   

  </router>
  
  <script>
    import axios from 'axios';
    import {getGlobalStats} from '../data/localstorage.js';
    import Message from './message.riot'
    import Tables from './tables.riot'
    import Stats from './stats.riot'
    import Pays from './pays.riot'
     	
    export default {
      components: {
        Message,
        Pays
      }
    }
  </script>
</home>