<home>
 <router >

    <!-- These links will trigger automatically HTML5 history events -->
    <nav class=" navbar-dark bg-dark">
       <ul class="nav justify-content-center ">
      <li class="nav-item active">
        <a class="navbar-brand " href="/#hello">Accueil</a>
      </li>
      <li class="nav-item">
        <a class="navbar-brand" href="/#table">Choix de pays</a>
      </li>
    </ul>
    </nav>
    <!-- Your application routes will be rendered here -->
    <route path="/#hello">
    <message></message>
    <ul>
    <li>Cas : { state.name }</li>
    <li>Mort : {state.name}</li>
    <li>Guéris : {state.name}</li>
    </ul>
    <p>{state.name}</p>
    <tables></tables>
    </route>
  </router>
  
  <script>
    import axios from 'axios';
    import {getGlobalStats} from '../data/localstorage.js';
    import Message from './message.riot'
    import Tables from './tables.riot'
    import Graph from './graph.riot'
     	
    export default {
      components: {
        Message,
        Tables,
        Graph
      },
      async onMounted() {
        this.state.name = await getGlobalStats() 
        this.update()
        console.log(this.state.name)
      }
    }
  </script>
</home>