<tables>
   <table class="table">
    <thead>
      <tr>
        <th scope="col">Pays</th>
        <th scope="col">Cas</th>
        <th scope="col">Guéris</th>
        <th scope="col">Morts</th>
        <th scope="col">Cas total</th>
        <th scope="col">Guéris total</th>
        <th scope="col">Morts total</th>
      </tr>
    </thead>
    <tbody>
      <tr each={ value in Object.values(aDate)} > 
        <td > { value }   </td>
       
      </tr>
    </tbody>
  </table>

  <script>

    export default {
      aDate: {
        country:"Afghanistan",
        "NewConfirmed":683,
        "NewRecovered":362,
        "NewDeaths":21,
        "TotalConfirmed":22142,
        "TotalRecovered":3013,
        "TotalDeaths":405,
      },
      
      async onMounted(){
       
      }
    }
  </script>
</tables>
