<tables>
<input type="text" id="search" onKeyUp="myFunction()" placeholder="Recherche Pays">

   <table class="table"   data-toggle="table" id="pays">
    <thead>
      <tr>
        <th scope="col" data-sortable="true">Pays</th>
        <th scope="col" data-sortable="true">Cas</th>
        <th scope="col" data-sortable="true">Guéris</th>
        <th scope="col" data-sortable="true">Morts</th>
        <th scope="col" data-sortable="true">Cas total</th>
        <th scope="col" data-sortable="true">Guéris total</th>
        <th scope="col" data-sortable="true">Morts total</th>
      </tr>
    </thead>
    <tbody>
      <tr each={ value in Object.values(aDate)} > 
        <td > { value }   </td>
       
      </tr>
    </tbody>
  </table>

  <script>

  

    export default {
      aDate: {
        country:"Afghanistan",
        "NewConfirmed":683,
        "NewRecovered":362,
        "NewDeaths":21,
        "TotalConfirmed":22142,
        "TotalRecovered":3013,
        "TotalDeaths":405
      },
      
      async onMounted(){
       
      }
    }
  </script>
</tables>
