<app>
  <h1>{ title }</h1>
  <p>Le covid19</p>


  <script>
    const name = 'couc'
    import api from '../data/api.js'
    
    export default {
      title: `Hello ${ name }!`,
      onMounted(props, state) {
        console.log('HELLO')
        this.getData();
      },
      getData(){
        console.log(api.getAllRoutes())
      }
    }
  </script>


  <style>
    :host {
      --riot-color: #f04;
    }

    h1 {
      color: var(--riot-color);
      border-bottom: 1px solid var(--riot-color);
    }
  </style>
</app>
